html {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    font-family: 'Press Start 2P', monospace;
}

body {
    background-image: url('images/background.jpg');
    background-size:auto;
    color:lightgray;

    margin: 0;
    padding-bottom: 70px;
}

h1 {
    color: grey;
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
}

a {
    color:inherit;
}

div {
    border-style:none;
    border-color: white;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: medium solid white;

    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

/*===============================================================================================================================================================*/

.headerContainer {
    background-color:black;
    width: fit-content;
    padding: 10px 15px;
    margin:auto;
    margin-top: 10px;
    border: medium solid white;
    border-radius: 2rem;
    text-align:center;
}

    .headerContainer > h1 {
        color:plum;
    }

.container {
    background-color:black;
    margin:0 auto;
    width:80%;
    border: medium solid white;
    border-radius: 1rem;
    padding: 10px;
}

    .container > h1 {
        text-align: center;
    }

.thinContainer {
    background-color:black;
    margin:0 auto;
    width: calc(90% - 26px);
    min-width: 324px;
    max-width: 700px;
    border: medium solid white;
    border-radius: 1rem;
    padding: 10px;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.tab button {
    background-color: inherit;
    color: inherit;
    border: none;
    padding: 10px;
    margin: 5px;

    font-size: inherit;
}

.tab button:hover {
    background-color: #0000007a;
}

.tab button.active {
    background-color: black;
}

.tabcontent .slide {
    display: none;
}

.portrait {
    float:right;
}

.downloadButton {
    color: green;
    padding: 10px;
    border: medium solid white;
    border-radius: 1rem;
    margin: 10px;
    float: right;
    text-decoration: none;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.panel {
    overflow: hidden;
    width: 250px;
    margin: 10px 10px;
    padding: 0px;
    position: relative;
    user-select: none;
    border: medium solid white;
    border-radius: 1rem;
}

    .panel > p {
        position:absolute;
        z-index: 1;
        bottom:0;
        padding: 2.5%;
        font-size: 24px;
    }

.gradOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
}

.back {
    background-color: black;
    position:absolute;
    width:6rem;
    height:6rem;
    left: 10px;
    border: medium solid white;
    border-radius: 1rem;
}

.banner {
    width: 720px;
    height: 150px;
    margin: -10px calc(50% - 360px);
    object-position: center center
}

.carousel {
    margin: auto;
    width: fit-content;
}

.slideNum {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position:relative;
    top: 0;
}

.prev, .next {
    cursor: pointer;
    float: left;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    float: right;
    border-radius: 3px 0 0 3px;
}

@media (max-width: 600px) {
    .back {
        display: block;
        position: unset;
        height: 50px;
        width: calc(100%);
        border-radius: 0;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }
}

@media (max-width: 480px) {
    .portrait {
        float: none;
        margin:auto;
        width:fit-content;
    }
}
 
@media (max-width: 350px) {
    .thinContainer {
        width: 330px;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0;
    }
}